!!! 5
%html{lang: 'en'}
  !=haml :head
  %body
    .container-fluid
      =yield
    !=haml :footer
    %script{src: url_for('/scripts/bootstrap.min.js')}
    %script{src: url_for('/scripts/jquery.dataTables.min.js')}
    %script{src: url_for('/scripts/dataTables.bootstrap.js')}
    %script{src: url_for('/scripts/dataTables.colVis.js')}
    %script{src: url_for('/scripts/oxidized.js')}

